html,
body {
  background-color: #fff;
  color: #333;
}

.navbar.navbar-default.navbar-static-top,
.panel-default>.panel-heading {
  background-color: #dd4814;
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.btn-primary {
  background-color: #dd4814;
}

.meal-list,
.list-group-item {
  color: #dd4814;
}

.navbar-default .navbar-brand:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: #97310e;
}

.btn-primary:hover {
  background-color: #777;
}
